#map {
    margin: 1em;
    display: flex; 
    /* height: 70vh;  */
    /* border: 1px solid red; */
    border-radius: 10px;
  }
  
  .leaflet-container {
    display: flex;
      width: 80vw;
    height: 85vh;
  }